<div class="wrapper">

    <h2>Вас приветсвует приложение о фильмах</h2><br> 
    <mat-card>
        <mat-card-content>
          <h2 class="example-h2">Пользователю</h2>
          <mat-tab-group class="demo-tab-group">
            <mat-tab label="О нас">
              <div class="demo-tab-content">
                Сервис предоставляет возможность смотреть популярные телевизионные каналы. Это новый формат онлайн-вещания телеканалов, доступных в одном сервисе на любых устройствах — телевизорах Smart TV, компьютерах, планшетных ПК, смартфонах и т.п. Рейтинговые ТВ-каналы дополнены собственными интерактивными HD-каналами MEGOGO. Сегодня на всех территориях работы сервиса суммарно доступно более 250 ТВ-каналов и более 30 собственных.
              </div>
            </mat-tab>
            <mat-tab label="О портале">
              <div class="demo-tab-content">
                Активно занимается социальными инициативами, выступая партнером и меценатом на различных кино-, интернет- и культурно-общественных мероприятиях, и заботится о людях с нарушением слуха в рамках проекта «Смотри как слышно». Так, например, видеосервис запустил собственную студию сурдоперевода и открыл специальный раздел на сайте с тысячами фильмов для людей с нарушением слуха.
              </div>  
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
</div>


