<div class="main">
  <mat-grid-list cols="3" rowHeight="700px">
    <mat-grid-tile *ngFor="let film of films" >
        <mat-card  class="example-card">
          <mat-card-header>
            <mat-card-title>
              <span>{{film.id}}. </span>{{film.name}}
            </mat-card-title>
            <mat-card-subtitle>{{film.year}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{film.imgUrl}} alt="Photo of a {{film.name}}">
          <mat-card-content>
            <details-inner>
              {{film.description.slice(0, 180)}} ...
            </details-inner>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
